<ng-template #link>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-[24px] flex-shrink-0"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25"
    />
  </svg>
</ng-template>

<div
  [ngClass]="[
    classes.container,
    expand ? '!w-[180px]' : '',
    themeService.getIsDark()
      ? 'bg-slate-700 text-white border-white/15'
      : 'bg-white text-[#333] border-black/15'
  ]"
>
  <div [class]="classes.head">
    <h1 [ngClass]="classes.logoText">
      @if(expand) { Angular <span class="text-[#cd1818]">UI</span> } @else {
      A<span class="text-[#cd1818]">UI</span>}
    </h1>
  </div>

  @for (r of ROUTES; track $index) {

  <a
    [routerLink]="r.path"
    [routerLinkActive]="classes.itemActive"
    [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="[classes.item, expand ? '!justify-start' : '']"
  >
    <ng-template [ngTemplateOutlet]="link"></ng-template>

    @if(expand) {
    <span>
      {{ r.title }}
    </span>
    }
  </a>

  <p></p>

  } @if (expand) {

  <p class="absolute bottom-2 left-2 text-sm whitespace-nowrap">
    Make with <span class="#cd1818">❤️</span> <br />
    by Nguyen Huu Dat
  </p>
  }

  <div class="!absolute bottom-[20px] right-0 translate-x-[50%] z-[10]">
    <app-button
      border="clear"
      size="clear"
      className="p-[6px]"
      (click)="toggleExpand()"
    >
      @if (expand) {

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-6"
      >
        <path
          fill-rule="evenodd"
          d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd"
        />
      </svg>

      } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-6"
      >
        <path
          fill-rule="evenodd"
          d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>

      }
    </app-button>
  </div>
</div>
