<ng-template cdkPortal>
  <div
    (click)="close()"
    [class]="[
      'absolute',
      'inset-0',
      'z-99',
      'bg-black/40',
      'opacity-0',
      'transition-opacity',
      isOpen ? classes.active : ''
    ]"
  ></div>

  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y1/2 z-[99] bg-white p-3 md:p-4 rounded-xl max-w-[calc(90vw-40px)] min-w-[400px]"
  >
    <app-modal-header (closeModal)="close()" [title]="title" />
    <ng-content />
  </div>
</ng-template>
