<ng-template cdkPortal>
  @if (isOpen.getValue()) {
    <div class="fixed z-[99] inset-full">
      <div
        (click)="close()"
        [ngClass]="[
          'absolute inset-0 z-[99] bg-black/40 transition-opacity ease-linear duration-200',
          isMounted.getValue() ? classes.mountedLayer : classes.unMountedLayer,
        ]"
      ></div>

      <div
        [ngClass]="[
          'absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[99] transition-[opacity,transform] ease-linear duration-200',
          isMounted.getValue()
            ? classes.mountedContent
            : classes.unMountedContent,
        ]"
      >
        <div class="bg-white p-3 rounded-lg">
          <app-modal-header (closeModal)="close()" [title]="title" />
          <ng-content />
        </div>
      </div>
    </div>
  }
</ng-template>
